* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    display: flex;
    flex-direction: column;
  }
  
header {
    display: flex;
    line-height: 1;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #4b515e;
    color: #92ccce;
  }

a {
  color: #92ccce;
  padding: 2px;
}

p {
  margin: 2%;
  font-size: large;
}

.banner {
  display: flex;
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
}

.pic SR {
  background-image: url("../images/surf\ report.jpg");
}
.pic LD {
  background-image: url("../images/LED\ wall.jpg");
}
.pic C {
  background-image: url("../images/calculator.jpg");
}
.pic PP {
  background-image: url("../images/pastel\ puzzle.jpg");
}
.pic RB {
  background-image: url("../images/run\ buddy.jpg");
}

.banner h2 {
  margin: auto;
  padding: 10px;
  font-size: 30px;
  color: #92ccce;
  background-color: var(#4b515e);
}

.page-section {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: #92ccce;
  padding: 20px 200px;
  margin: 40px 200px;
}

title {
  display: block;
}